
<!-- Modal -->
<div class="modal fade" id="mdlLogin" tabindex="-1" aria-labelledby="mdlLoginLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="mdlLoginLabel">Iniciar Sesion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form class="row g-3" id="login-form">
                    <div class="col-12">
                        <label for="txtEmail" class="form-label">Correo Electronico</label>
                        <input type="email" class="form-control shadow-none" id="txtEmail" placeholder="Email">
                    </div>
                    <div class="col-12">
                        <label for="txtPassword" class="form-label">Contraseña</label>
                        <input type="password" class="form-control shadow-none" id="txtPassword" placeholder="Contraseña">
                    </div>

                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="nav-link">¿Olvidaste tu contraseña?</a>
                            <button type="submit" class="btn btn-primary">INGRESAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>