Options All -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Se elimina en producción RewriteBase /restaurantxxi/
    RewriteBase /restaurantxxi/
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.*)$ $1.html [NC,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [NC,L]
</IfModule>